html,body{
    height: 100%;
}

/* Container Width */
.conwidth{
    max-width: 1572px;
    padding-top: 80px;
    margin-right: 150px;
}


/* search bar */
.srch{
     
    border-width: 0px; 
    margin-right: 0px; 
    border-radius: 0.50rem;
    width: 500px;
}

/* gray color */
.gray{
    color: gray;
}

/* left container */
.lcol{
    margin-right: 0px; 
    margin-left: 0px; 
    padding-left: 0px; 
    padding-right: 0px;
}



/* */
.nav-link {
  background-color: white;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;

  padding-top: 0px;
  }

  .nav-font{
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    letter-spacing: .01785714em;
    font-family: 'Google Sans','Roboto',Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #3c4043;
}

  .nav-link-act{
      color: #2196F3;
      background-color: aliceblue;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
  }

  .disabled {
    pointer-events:none;         
}
  
  
  .nav-link:hover {
    color: grey;
    background-color: lightgrey;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .nav-link{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 80px;
    height: 50px;
    background-color: white;
    text-align: center;
  }
  .wel{
    margin-right: 0 auto; 
    width: 100%;
    text-align: center;
  }
  .fas, .fa-credit-card {
    display: none;
}

@media (min-width: 700px){
.concards{
    max-width: 900px; 
  }
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: left;
  }
  .srch{ display: none;}
  .form-inline{ margin-left: 0%;}
}

@media (max-width: 700px) {

  }
}

  .link{
      color: grey;
  }

  div.content {
    padding-top: 90px;
    height: 870px;
    padding-right: 30px;;
  }

  .over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .user{
      text-align: center;
      font-family: sans-serif 'Roboto' Arial, sans-serif;
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 2.25rem;
      -webkit-hyphens: auto;
      hyphens: auto;
      word-break: break-word;
      word-wrap: break-word;
      color: #202124;
      margin: 0 0 8px 0;
      padding: 0;
      text-align: center;
  }

  .subuser{
    text-align: center;
    font-family: 'Roboto', 'Open Sans', Arial;
    font-size: 1rem;
    font-weight: 400;
    color: #5f6368;
  }

  .cardheader{
    font-family: 'Google Sans','Roboto',Arial,sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
  }

  .cardPara{
    letter-spacing: .01428571em;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
  }

  .cardFoot{
    letter-spacing: .01785714em;
    font-family: 'Google Sans','Roboto',Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #1a73e8;
  }

  .stor{
    letter-spacing: .00625em;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .fpbp{
    letter-spacing: .01428571em;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    text-align: center;
  }

  a:hover {
    text-decoration: none;
    }

  .infobor{
    border-radius: 10px;
  }

  .tr1{
    letter-spacing: .07272727em;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    padding: 0;
  }

  .tr2{
    letter-spacing: .00625em;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .tr3{
    letter-spacing: .01428571em;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
  }
  
  .lirow{
    float: left;
    width: 200px;
    padding: 20px 0;
  }
  
  .lirow2{
    float: left;
    width: 500px;
    padding: 20px 0;
  }

  .lirow3{
    float: left;
    padding-top: 10px;
  }

  .lirow4{
    float: left;
    width: 550px;
    padding: 5px 0;
    text-align: center;
    padding-right: 80px;
  }

  .lirow5{
    float: left;
    width: 400px;
    padding: 20px 0;
    text-align: center;
  }

  .limg{
    width: 55%;
    float: left;
  }

  .fimg{
    float: left;
  }
  
  .limg2{
    width: 815px;
  }

  .limg3{
    float: right;
    padding-top: -50px;
    width: auto;
  }

  .limg4{
    float: right;
    padding-top: -50px;
    width: auto;
  }

  .licol{
    float: left;
    width: 200px;
    padding: 5px 0;
  }
  
  .licol2{
    float: left;
    width: 550px;
    padding: 5px 0;
  }

  .licol4{
    float: left;
    padding-top: 5px;
  }

  ul{
    list-style-type: none;
  }

  .lihov a:hover{
    background-color: lightgrey;
  }